/* ===========================================
HOTELES
=========================================== */

.hoteles .hotel {
    border: 1px solid #ddd !important;
    padding: 1rem;
    margin-bottom: 1rem;
}

.hoteles .hotel:hover {
    background-color: rgb(240, 240, 240);
}

.hoteles .hotel .title {
    font-weight: bold;
}

/* ===========================================
LIKE BUTTON
=========================================== */

.fa-heart {
    transition: color, transform 0.1s;
}

.fa-heart:hover {
    transform: scale(1.1);
}

.fa-heart:active {
    transform: scale(1.5);
}

nav .dropdown:last-child .dropdown-menu {
    right: 0;
    left: auto;
}

/* ===========================================
HOME HEADER
=========================================== */

#home-header {
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4) ), url('../img/gaztelugatze.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#home-header .input-button {
    display: flex;
}

#home-header .input-button input {
    max-width: 80vw;
    min-width: 50vw;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#home-header .input-button button {
    display: flex;
    gap: 10px;
    align-items: center;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

/* ===========================================
INDEX DESTINATIONS
=========================================== */

.destinations img {
    transition: opacity 0.3s;
    opacity: 0.8;
}

.destinations img:hover {
    opacity: 0.95;
}

/* ===========================================
USER ICON
=========================================== */

.user-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    /* background-color: tomato; */
}

/* ===========================================
COMENTS INPUT
=========================================== */

#comment-form input {
    border: none;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

#comment-form .btn-secondary {
    border: none;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

#comment-form input:focus {
    border-bottom: 1px solid rgb(135, 135, 135);
    outline: none;
}

/* ===========================================
MISCELANEOUS
=========================================== */

.title {
    font-weight: bold !important;    
}


.title a {
    text-decoration: none !important;
    color: rgba(0, 0, 0, .9) !important;
}

.title a:hover {
    text-decoration: underline !important;
}

/* ===========================================
HOME HEADER
=========================================== */

#footer{
text-align: center;
font-size: 20px;
}
#footer ul li{
    display: inline;
}

#footer a{
color:white;
}

